@page "/counter"
@rendermode InteractiveAuto
@inject IStringLocalizer<localizeTranslate.Client.SharedResource> L

<PageTitle>@L["Counter_Title"]</PageTitle>

<h1>@L["Counter_Title"]</h1>

<p role="status">@L["Counter_CurrentCount"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@L["Counter_ClickMe"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
